.about__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}

p {
  line-height: 1.8;
  margin-bottom: 1rem;
}
